torch 
torchvision 
torchaudio                                   \  # PyTorch
accelerate                                   \  # HF accelerate launcher
safetensors                                  \  # safe-tensor format
diffusers==0.28.0                            \  # HD samplers + Flux scripts
transformers==4.45.2                         \  # text encoder
peft                                         \  # LoRA wrappers
bitsandbytes                                 \  # 8-bit optimizers
einops                                       \  # tensor rearrange (diffusers)
pillow                                       \  # image I/O
tqdm                                         \  # progress bars
python-slugify                               \  # clean names for filepaths
toml                                         \  # write your dataset.toml
sentencepiece                                \  # tokenizer backend
numpy==1.23.5
onnxruntime

