# PyTorch + friends
torch
torchvision
torchaudio

# Hugging Face bits
accelerate
safetensors
diffusers==0.25.0
transformers==4.45.2
peft
huggingface_hub==0.24.5

# Speedups & I/O
bitsandbytes
einops
pillow
tqdm

# Utils
python-slugify
toml
sentencepiece
numpy==1.23.5
onnxruntime